* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body, html, p, h1, h2, h3, section, article, div, figure, aside, figcaption, footer, header, nav, form, input, button, textarea, select{
	margin: 0px;
	padding: 0px;
}
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
	border: 0px;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
image {
	border: none;
}
img {
	vertical-align: middle;
}
ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
input, textarea, button, select {
	outline: none;
/*	-webkit-appearance: none;
*/	border-radius:0px;
}
body {
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: arial,sans-serif;
}
.container{
	width:100%;
	float:left;
	background:#f1f1f1;
}
.wrapper{
	width:600px;
	margin:0px auto;
}
h1{
	font-size:24px;
	color:#000;
}
.form-gp{
	width: 100%;
	float: left;
	font-size:14px;
	color:#000;
	line-height:20px;
	margin:10px 0px;
	position:relative;
}
.form-gp label{
	width:100%;
	float:left;
}
.form-gp input, .form-gp textarea, .form-gp select{
	width:100%;
	padding:10px 10px;
	border:1px solid #a0a0a0;
	background:transparent;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
}
.form-gp textarea{
	height:100px;
	resize:none;
	float: left;
}
.form-gp input:focus, .form-gp input:active, .form-gp textarea:focus, .form-gp textarea:active, .form-gp select:focus, .form-gp select:active{
	border-color:#4d90fe;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.form-submit input{
	width:120px;
	background:#ADE0CA;
	cursor:pointer;
	font-size:18px;
	line-height:37px;
	padding:0px;
}
.form-check input, .form-radio{
	width:auto;
	padding:0px;
}
.form-radio, .form-radio label, .form-check label{
	width:auto;
	float:left;
	margin-right: 20px;
}
.form-gp span {
	line-height: 14px;
	width: 100%;
	float: left;
	padding: 0px;
	font-size: 12px;
	position:absolute;
	left: 0px;
	bottom: -15px;
}
.form-gp span.error {
	color: #EB0000;
}
.icheckbox_minimal, .iradio_minimal {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	background: url(icon.png) no-repeat;
	border: none;
	cursor: pointer;
}
.icheckbox_minimal {
	background-position: 0px 0px;
}
.icheckbox_minimal.focus, .icheckbox_minimal.hover {
	background-position: -20px 0px;
}
.icheckbox_minimal.checked {
	background-position: -40px 0px;
}
.iradio_minimal {
	background-position: -100px 0px;
}
.iradio_minimal.focus, .iradio_minimal.hover {
	background-position: -120px 0px;
}
.iradio_minimal.checked {
	background-position: -140px 0px;
}