.atom {
	width: 250px;
	height: 250px;
	position: relative;
	background-color: #eaf4f9;
	border: solid 3px #0adef3;
	border-radius: 50%;
	padding: 30px;
}
.atom-nucleus, .atom-nucleus:before {
	position: absolute;
	background: red;
}
.atom-nucleus {
	width: 20px;
	height: 20px;
	margin-left: -10px;
	margin-top: -10px;
	border-radius: 50%;
	top: 155px;
	left: 155px;
}
.atom-nucleus:before {
	content: '';
	width: 36px;
	height: 36px;
	margin-left: -18px;
	margin-top: -18px;
	border-radius: 50%;
	top: 10px;
	left: 10px;
	opacity: 0.15;
}
.atom-orbit {
	position: absolute;
	width: 250px;
	height: 250px;
	border: solid 4px transparent;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.white-border {
	border-radius: 50%;
	border-color: gainsboro;
}
.electron {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.electron:before {
	display: block;
	content: '';
	width: 24px;
	height: 24px;
	margin-left: -12px;
	margin-top: -12px;
	border-radius: 50%;
	position: absolute;
	top: 125px;
	left: 125px;
}
.electron:after {
	display: block;
	content: '';
	width: 16px;
	height: 16px;
	margin-left: -8px;
	margin-top: -8px;
	border-radius: 50%;
	position: absolute;
	top: 125px;
	left: 125px;
	border-color: rgba(255, 255, 255, 0.4);
}
.atom-top.white-border {
	-webkit-transform: rotateZ(0deg) rotateY(73deg);
	transform: rotateZ(0deg) rotateY(73deg);
}
.atom-top.atom-path {
	-webkit-transform: translateZ(100px) rotateZ(0deg) rotateY(73deg);
	transform: translateZ(100px) rotateZ(0deg) rotateY(73deg);
}
.atom-top .electron {
	-webkit-animation: rotate-top infinite linear;
	animation: rotate-top infinite linear;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}
.atom-top .electron:before, .atom-top .electron:after {
	-webkit-transform: rotateY(-73deg) rotateZ(0deg);
	transform: rotateY(-73deg) rotateZ(0deg);
}
.atom-top .electron:before {
	background: yellow;
	opacity: 0.3;
}
.atom-top .electron:after {
	background:yellow;
}
.atom-left.white-border {
	-webkit-transform: rotateZ(-60deg) rotateY(73deg);
	transform: rotateZ(-60deg) rotateY(73deg);
}
.atom-left.atom-path {
	-webkit-transform: translateZ(100px) rotateZ(-60deg) rotateY(73deg);
	transform: translateZ(100px) rotateZ(-60deg) rotateY(73deg);
}
.atom-left .electron {
	-webkit-animation: rotate-left infinite linear;
	animation: rotate-left infinite linear;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}
.atom-left .electron:before, .atom-left .electron:after {
	-webkit-transform: rotateY(-73deg) rotateZ(60deg);
	transform: rotateY(-73deg) rotateZ(60deg);
}
.atom-left .electron:before {
	background: green;
	opacity: 0.3;
}
.atom-left .electron:after {
	background: green;
}
.atom-right.white-border {
	-webkit-transform: rotateZ(60deg) rotateY(73deg);
	transform: rotateZ(60deg) rotateY(73deg);
}
.atom-right.atom-path {
	-webkit-transform: translateZ(100px) rotateZ(60deg) rotateY(73deg);
	transform: translateZ(100px) rotateZ(60deg) rotateY(73deg);
}
.atom-right .electron {
	-webkit-animation: rotate-right infinite linear;
	animation: rotate-right infinite linear;
	-webkit-animation-duration: 2.3s;
	animation-duration: 2.3s;
}
.atom-right .electron:before, .atom-right .electron:after {
	-webkit-transform: rotateY(-73deg) rotateZ(-60deg);
	transform: rotateY(-73deg) rotateZ(-60deg);
}
.atom-right .electron:before {
	background: blue;
	opacity: 0.3;
}
.atom-right .electron:after {
	background: blue;
}
@-webkit-keyframes rotate-top {
	0% {
		-webkit-transform: rotate(0deg) translate(-125px) rotate(0deg);
		transform: rotate(0deg) translate(-125px) rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg) translate(-125px) rotate(-360deg);
		transform: rotate(360deg) translate(-125px) rotate(-360deg);
	}
}
@keyframes rotate-top {
	0% {
		-webkit-transform: rotate(0deg) translate(-125px) rotate(0deg);
		transform: rotate(0deg) translate(-125px) rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg) translate(-125px) rotate(-360deg);
		transform: rotate(360deg) translate(-125px) rotate(-360deg);
	}
}
@-webkit-keyframes rotate-left {
	0% {
		-webkit-transform: rotate(60deg) translate(-125px) rotate(-60deg);
		transform: rotate(60deg) translate(-125px) rotate(-60deg);
	}
	100% {
		-webkit-transform: rotate(420deg) translate(-125px) rotate(-420deg);
		transform: rotate(420deg) translate(-125px) rotate(-420deg);
	}
}
@keyframes rotate-left {
	0% {
		-webkit-transform: rotate(60deg) translate(-125px) rotate(-60deg);
		transform: rotate(60deg) translate(-125px) rotate(-60deg);
	}
	100% {
		-webkit-transform: rotate(420deg) translate(-125px) rotate(-420deg);
		transform: rotate(420deg) translate(-125px) rotate(-420deg);
	}
}
@-webkit-keyframes rotate-right {
	0% {
		-webkit-transform: rotate(120deg) translate(-125px) rotate(-120deg);
		transform: rotate(120deg) translate(-125px) rotate(-120deg);
	}
	100% {
		-webkit-transform: rotate(480deg) translate(-125px) rotate(-480deg);
		transform: rotate(480deg) translate(-125px) rotate(-480deg);
	}
}
@keyframes rotate-right {
	0% {
		-webkit-transform: rotate(120deg) translate(-125px) rotate(-120deg);
		transform: rotate(120deg) translate(-125px) rotate(-120deg);
	}
	100% {
		-webkit-transform: rotate(480deg) translate(-125px) rotate(-480deg);
		transform: rotate(480deg) translate(-125px) rotate(-480deg);
	}
}